.nav-button {
  margin-bottom: 11px;
  background-color: #253c45;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
}

.navbar {
  background-color: #253c45;
}

.brand {
  padding-right: 0px;
  padding-left: 0px;
  color: #fff;
}

.intro-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/person-on-a-bridge-near-a-lake-747964.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
}

.hero-header {
  border-radius: 8px;
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  font-size: 30px;
}

.button {
  position: relative;
  width: auto;
  height: auto;
  min-width: 100px;
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: #3444ee;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  text-transform: none;
  cursor: pointer;
  -o-object-fit: none;
  object-fit: none;
}

.paragraph {
  border-radius: 8px;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.about-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(auto, 0.25fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". . Icon Icon" ". . Summary Summary" ". . Description Description" ". . Description Description" ". . Description Description" ". . Description Description" ". . Description Description";
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto 0px minmax(auto, 0.25fr) 0px minmax(auto, 1fr) 0px minmax(auto, 0.5fr) 0px minmax(auto, 0.5fr) 0px auto;
  grid-template-rows: auto minmax(auto, 0.25fr) minmax(auto, 1fr) minmax(auto, 0.5fr) minmax(auto, 0.5fr) auto;
  border-bottom: 1px none #929292;
  border-left: 1px solid #797979;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.name {
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.heading-3 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  text-align: center;
}

.profile-picture {
  position: relative;
  overflow: visible;
  width: auto;
  height: auto;
  max-height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-2 {
  margin-top: 22px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.text-block {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', sans-serif;
  color: red;
  font-weight: 500;
  text-align: center;
}

.button-2 {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 50px;
  margin-left: 0px;
  background-color: #fff;
  background-image: url('../images/iconmonstr-linkedin-3.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.github-link {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/iconmonstr-github-1.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.github-link:hover{
  cursor: pointer;
}

.website-link {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/www-1.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}


.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #2f7984;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2f7984), to(#fff));
  background-image: linear-gradient(180deg, #2f7984, #fff);
}

.project-img{
  max-width: 500px;
  border-radius: 8px;
}
.project-headers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading-4 {
  margin-top: -10px;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
}

.body {
  font-family: 'Roboto Slab', sans-serif;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #253c45;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#253c45), to(#fff));
  background-image: linear-gradient(0deg, #253c45, #fff);
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #253c45;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.text-block-2 {
  color: #fff;
}

.div-block-2 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.div-block-3 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.div-block-4 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.div-block-5 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px none #777;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
}

.project-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-button-bottom {
  margin-bottom: 11px;
  background-color: rgba(56, 152, 236, 0);
}

.project-img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.project-name {
  color: #333;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-10 {
  width: 70px;
  height: 70px;
  max-width: none;
  margin-right: 0px;
}

.image-11 {
  width: 70px;
  height: 70px;
  max-width: none;
  margin-left: 0px;
}

.paragraph-3 {
  color: #e2e2e2;
}

.image-13 {
  width: 70px;
  height: 70px;
}

.image-14 {
  width: 70px;
  height: 70px;
}

.image-15{
  width: 70px;
  height: 70px;
  max-width: none;
  margin-right: 0px;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-15 {
  width: 70px;
  height: 70px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
  min-width: 175px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.skills-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.skills-card:hover .skills-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.skills-card-front, .skills-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.skills-card-back {
  transform: rotateY(180deg);
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  width: 70px;
  height: 70px;
}

.image-17 {
  width: 70px;
  height: 70px;
}

.dropdown-project {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.project-filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-toggle {
  max-width: 150px;
  margin-right: 50px;
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  cursor: pointer;
}

.dropdown-toggle-2 {
  max-width: 150px;
  border-radius: 8px;
  background-color: #fff;
}

.text-block-3 {
  text-align: center;
}

.about-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.web-link {
  width: 50px;
  height: 50px;
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/www-1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.container-2 {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 15px 0 #000;
}

@media screen and (max-width: 991px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .profile-picture {
    width: 150px;
    height: 150px;
  }
  .button-2 {
    width: 50px;
    height: 50px;
  }
  .github-link {
    width: 50px;
    height: 50px;
  }
  .icon {
    background-color: transparent;
    color: #fff;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .profile {
    margin-bottom: 23px;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .intro-page {
    padding: 40px 20px;
  }
  .centered-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .about {
    padding: 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px none #000;
  }
  .about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(auto, 0.5fr) auto auto 1fr;
    grid-template-columns: minmax(auto, 0.5fr) auto auto 1fr;
    -ms-grid-rows: auto minmax(auto, 0.25fr) minmax(auto, 1fr) minmax(auto, 0.5fr) minmax(auto, 0.5fr) auto;
    grid-template-rows: auto minmax(auto, 0.25fr) minmax(auto, 1fr) minmax(auto, 0.5fr) minmax(auto, 0.5fr) auto;
    border-left-style: none;
  }
  .projects {
    padding: 40px 20px;
  }
  .contact-form {
    padding: 40px 20px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .skills {
    padding: 40px 20px;
  }
  .profile {
    padding-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .intro-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .centered-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .hero-header {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
  }
  .button {
    position: relative;
    z-index: auto;
    display: inline-block;
    overflow: visible;
    width: auto;
    height: auto;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 10px;
    text-align: center;
  }
  .paragraph {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }
  .about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 3% minmax(200px, 2fr);
    grid-template-columns: 3% minmax(200px, 2fr);
    -ms-grid-rows: minmax(57%, 1fr) auto auto minmax(auto, 0.5fr) auto minmax(auto, 0.5fr);
    grid-template-rows: minmax(57%, 1fr) auto auto minmax(auto, 0.5fr) auto minmax(auto, 0.5fr);
  }
  .name {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .profile-picture {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .paragraph-2 {
    font-size: 12px;
  }
  .text-block {
    font-size: 12px;
  }
  .button-2 {
    margin-left: 0px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .github-link {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .project-headers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-image {
    overflow: visible;
  }
  .image-8 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  .div-block-6 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .skills-cards {
    margin-bottom: 10px;
  }
}

#w-node-750ac1fc19d7-fe19113b {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  grid-area: Icon;
}

#w-node-8dcd11723601-fe19113b {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: Summary;
}

#w-node-420030f6092d-fe19113b {
  -ms-grid-row: 5;
  -ms-grid-row-span: 9;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: Description;
}

#w-node-f1648daaa2b8-fe19113b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-f1648daaa2a8-fe19113b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-f1648daaa2ac-fe19113b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-f1648daaa2b0-fe19113b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-f1648daaa2b4-fe19113b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

